API - Fix date output of TimeStampedModel

### Issue reported
current format `19-08-20T08:22:01.464934Z`  
expected format `2017-07-21T17:32:28Z` (swagger example data)

> According to the spec: ate-time – the date-time notation as defined by RFC 3339, section 5.6, 
It’ makes the json decoder fail

### code ref
```
from model_utils.models import TimeStampedModel
  ...

class AnalysisModel(TimeStampedModel)

 ...

9:import model_utils.fields
26:                ('created', model_utils.fields.AutoCreatedField(default=django.utils.timezone.now, editable=False, verbose_name='created')),
27:                ('modified', model_utils.fields.AutoLastModifiedField(default=django.utils.timezone.now, editable=False, verbose_name='modifie
```